<h1>descrizione dei piani tariffari</h1>

<div class="row">
  <div class="col s12 m4 l4">
    <h4>Piano Free</h4>
  </div>
  <div class="col s12 m4 l4">
    <h4>Piano Base</h4>
  </div>
  <div class="col s12 m4 l4">

  </div>
</div>
