<h4>Seleziona il tuo nuovo abbonamento</h4>
<%= render :partial => 'plans' %>

<%= form_tag '/subscriptions' do %>
    <span class="payment-errors error"></span>

    <%= collection_select :plan, :stripe_id, @plans, :stripe_id, :name, {}, {} %>

    <button class="btn btn-large orange" type="submit">Aggiorna abbonamento</button>

<% end %>