<div class="container">
  <div class="row">
    <div class="col s10 push-s1 yellow lighten-5 z-depth-1">
      <h3 class="left uppercase">Aggiorna Carta</h3>
      <p class="right grey-text text-darken-1">
        <em>
          Con questo form<br>
          puoi aggirnare le informazioni<br>
          di pagamento fornite alla sottoscrizione
        </em>
      </p>
    </div>
  </div>
  <div class="row section">
    <div class="col s12 m4 l4 push-m1 push-l1">
      <div class="card z-depth-2">
        <div class="card-image">
          <%= image_tag('creditcard.jpg', class: 'responsive-img') %>
          <span class="card-title orange-text bold uppercase">Carta di credito</span>
        </div>
        <%= form_tag '/subscriptions/update_card_details', id: 'payment-form' do %>
            <div class="card-content">
              <div class="row col s12">
                <span class="payment-errors error"></span>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <label for="creditcard">Numero Carta</label>
                  <input id="creditcard" type="text" size="20" data-stripe="number"/>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s3">
                  <label for="cvc">CVC</label>
                  <input id="cvc" type="text" size="4" data-stripe="cvc"/>
                </div>
                <div class="input-field col s3">
                  <label for="month">Mese</label>
                  <input id="month" type="text" size="2" data-stripe="exp-month"/>
                </div>
                <div class="input-field col s6">
                  <label for="year">Anno</label>
                  <input id="year" type="text" size="4" data-stripe="exp-year"/>
                </div>
              </div>
            </div>
            <div class="card-action">
              <div class="row">
                <div class="col s12 center-align">
                  <button type="submit" class="btn btn-large green">Aggiorna carta</button>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col s12 m6 l6 right">
      <h3 class="uppercase">informazioni utili</h3>
      <div class="divider"></div>
      <p>Le informazioni fornite non vengono salvate nei nostri server</p>
    </div>
  </div>
</div>


<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_RSLsDwWHNvkQnKLKU3sk1zEG');
</script>